header {
  height: 10vh;
  text-align: center;
  font-size: 30px;
}

main {
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gridcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
}

.controls {
  background-color: lightslategray;
  padding: 40px;
}

.control-item {
  display: block;
  margin-bottom: 20px;
}

#clear {
  margin-bottom: 100px;
}

#gridSubmit {
  display: block;
  margin-top: 20px;
}